body {
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #ffe6ff;
}

.title{
	color: black; 
	font-family: arial;
	font-size: 4em;
	text-align: center;
}

.nav{
	text-align: center; 
	overflow: hidden;
	list-style-type: none; 
	margin: 0;
	padding: 0; 

}

.nav li{
	display: inline;
	border-left: 1px solid #fff;
}

.nav li a{
	display: inline-block; 
	color: black;
	text-align: center; 
	padding: 20px 65px;
	text-decoration: none; 
	font-size: 1.25em;
	font-family: arial; 
	font-weight: bold; 

}

